{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 2,
        "bracketSpacing": true,
        "explicitTypes": "never"
      }
    },
    {
      "files": ["*.js", "*.ts", "*.jsx", "*.tsx"],
      "options": {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
